.content-popping img {
    position: absolute;
    left: 181px;
    top: 3536px;
    width: 667px;
    height: 401px;
    z-index: 199;
}


#img-computador {
    position: absolute;
    left: 231px;
    z-index: 200;
}










/* Style Imagens Fundo */

#luz-fundo {
    position: absolute;
    top: 3657px;
    width: 1920px;
    height: 1383px;
    z-index: 208;
}


#graficos {
    mix-blend-mode: hard-light;
    position: absolute;
    top: -50px;
    max-width: 1920px;
    z-index: 209;
}