
.title-services {
    font-size: 42px;
    font-weight: 800;
    position: absolute;
    color: rgb(255, 255, 255);
    left: 570px;
    top: 750px;
    z-index: 30;
}

.box-trafego {
    border : 3px solid rgb(79, 22, 22) ;
    border-radius: 47px;
    background-image: linear-gradient( 360deg, rgb(58,17,17) 15%, rgb(0,0,0) 50%);
    position: absolute;
    left: 140px;
    top: 870px;
    width: 364px;
    height: 373px;
    z-index: 33;
}

.box-social {
    border : 3px solid rgb(79, 22, 22) ;
    border-radius: 47px;
    background-image: linear-gradient( 360deg, rgb(58,17,17) 15%, rgb(0,0,0) 50%);
    position: absolute;
    left: 520px;
    top: 870px;
    width: 364px;
    height: 373px;
    z-index: 36;
}

.box-video {
    border : 3px solid rgb(79, 22, 22) ;
    border-radius: 47px;
    background-image: linear-gradient( 360deg, rgb(58,17,17) 15%, rgb(0,0,0) 50%);
    position: absolute;
    left: 900px;
    top: 870px;
    width: 364px;
    height: 373px;
    z-index: 39;
}


.box-copy {
    border : 3px solid rgb(79, 22, 22) ;
    border-radius: 47px;
    background-image: linear-gradient( 360deg, rgb(58,17,17) 15%, rgb(0,0,0) 50%);
    position: absolute;
    left: 140px;
    top: 1260px;
    width: 364px;
    height: 373px;
    z-index: 43;
}


.box-designer {
    border : 3px solid rgb(79, 22, 22) ;
    border-radius: 47px;
    background-image: linear-gradient( 360deg, rgb(58,17,17) 15%, rgb(0,0,0) 50%);
    position: absolute;
    left: 520px;
    top: 1260px;
    width: 364px;
    height: 373px;
    z-index: 31;
}

.box-web {
    border : 3px solid rgb(79, 22, 22) ;
    border-radius: 47px;
    background-image: linear-gradient( 360deg, rgb(58,17,17) 15%, rgb(0,0,0) 50%);
    position: absolute;
    left: 900px;
    top: 1260px;
    width: 364px;
    height: 373px;
    z-index: 31;
}

.img-services {
   position: absolute;
   left: 48px;
   top: 94px;
   width: 65px;
   height: 61px;
   background: transparent;
}

.box-title {
    font-size: 20px;
    font-weight: 600;
    color: #e74040;
    text-align: left;
    position: absolute;
    left: 44px;
    top: 182px;
    background: transparent;
}

.services-description {
    position: absolute;
    left: 46px;
    top: 226px;
    z-index: 44;
    background: transparent;
    color: rgba(255, 255, 255, 0.702);
}