#services {
    color: white;
    font-size: 42px;
    font-weight: 800;
    text-align: center;
    padding-top: 240px;
    padding-bottom: 111px;
}

.service-box{
    width: 366px;
    height: 374px;
    border: 3px solid #4f1616;
    border-radius: 47px;
    background-image: linear-gradient(to top, #4f1616, 4%,  #000);
    margin-bottom: 16px;
    margin-left: 18px;
}

.img-services {
    padding-top: 104px;
    padding-bottom: 23px;
    padding-left: 43px;
    padding-right: 266px;
    background:transparent;
}

.services-tittle {
    color : #e74040;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;
    background: transparent;
    padding-left: 42px;
}

.services-description {
    font-size: 18px;
    font-weight: 400;
    color: white;
    opacity: 70%;
    background: transparent ;
    padding-left: 42px;
}    
