
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Montserrat';
    text-decoration: none;
    background-color: black;
}


body {
    font-size: 100%;
    overflow-x: hidden;
}


p, h1, h2, h3, h4, h5, h6, span {
    background: transparent;
}
