
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    text-decoration: none;
    background-color: black;
}


body {
    font-size: 100%;
    overflow-x: hidden;
}