#method-title {
    color: white;
    font-size: 42px;
    font-weight: 800;
    padding-top: 138px;
    padding-bottom: 137px;
}

.title1 {
    font-size: 129px;
    font-weight: 700;
    color: #e74040;
}


.sub-title1{
    font-size: 21px;
    font-weight: 800;
    color: #e74040;
}


p {
    font-size: 18px;
    color: white;
    opacity: 70%;
}