
.container {
    display: flex;
    align-items: center;
}

.method-title {
    font-size: 42px;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 380px;
    top: 1720px;
}


/* Inicio Linha Esquerda  */

.bolaTop {
    position: absolute;
    border-radius: 50%;
    left: 95px;
    top: 1950px;
    z-index: 169;
}

.bolaLow {
    position: absolute;
    border-radius: 50%;
    left: 110px;
    top: 2435px;
    z-index: 169;
}

.img-point-ab{
    position: absolute;
    left: 100px;
    top: 1870px;
    width: 559px;
    height: 572px;
    z-index: 158;
}

/* Metodo 01 */

.number-1 {
    font-size: 129px;
    color: rgb(231, 64, 64);
    font-weight: bold;
    line-height: 0.971;
    position: absolute;
    left:140px;
    top: 1900px;
    z-index: 151;
}

.title-method1 {
    left: 220px;
    top: 1910px;
    font-size: 21px;
    font-weight: 800;
    position: absolute;
    color: rgb(231, 64, 64);
}

.desc-method1 {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.702);
    line-height: 1.55;
    position: absolute;
    text-align: left;
    left: 220px;
    top: 1940px;
}

/* Metodo 02 */

.number-2 {
    font-size: 129px;
    position: absolute;
    top: 2070px;
    left: 130px;
    color: rgb(231, 64, 64);
}


.title-method2 {
    position: absolute;
    left: 220px;
    top: 2100px;
    color: rgb(231, 64, 64);
    font-size: 21px;
    font-weight: 800;
}


.desc-method2 {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.702);
    line-height: 1.55;
    position: absolute;
    text-align: left;
    left: 220px;
    top: 2130px;
}


/* Metodo 03 */

.number-3 {
    font-size: 129px;
    position: absolute;
    top: 2265px;
    left: 140px;
    color: rgb(231, 64, 64);
}

.title-method3 {
    position: absolute;
    left: 225px;
    top: 2290px;
    color: rgb(231, 64, 64);
    font-size: 21px;
    font-weight: 800;
}

.desc-method3 {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.702);
    line-height: 1.55;
    position: absolute;
    text-align: left;
    left: 225px;
    top: 2325px;
}


/* Continuaçao Right */

.img-point-ab-right{
    position: absolute;
    left: 670px;
    top: 1865px;
    width: 559px;
    height: 572px;
    z-index: 168;
}

.bolaTop-right {
    position: absolute;
    border-radius: 50%;
    left: 666px;
    top: 1950px;
    z-index: 169;
}

.bolaLow-right {
    position: absolute;
    border-radius: 50%;
    left: 680px;
    top: 2430px;
    z-index: 169;
}

/* Metodo 04 */

.number-4 {
    font-size: 129px;
    color: rgb(231, 64, 64);
    font-weight: bold;
    line-height: 0.971;
    position: absolute;
    left: 700px;
    top: 1900px;
    z-index: 151;
}

.title-method4 {
    left: 805px;
    top: 1910px;
    font-size: 21px;
    font-weight: 800;
    position: absolute;
    color: rgb(231, 64, 64);
}

.desc-method4 {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.702);
    line-height: 1.55;
    position: absolute;
    text-align: left;
    left: 805px;
    top: 1940px;
}



/* Metodo 05 */

.number-5 {
    font-size: 129px;
    position: absolute;
    top: 2070px;
    left: 720px;
    color: rgb(231, 64, 64);
}

.title-method5 {
    position: absolute;
    left: 810px;
    top: 2100px;
    color: rgb(231, 64, 64);
    font-size: 21px;
    font-weight: 800;
}

.desc-method5 {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.702);
    line-height: 1.55;
    position: absolute;
    text-align: left;
    left: 810px;
    top: 2135px;
}


/* Metodo 06 */

.number-6 {
    font-size: 129px;
    position: absolute;
    top: 2260px;
    left: 720px;
    color: rgb(231, 64, 64);
}

.title-method6 {
    position: absolute;
    left: 820px;
    top: 2290px;
    color: rgb(231, 64, 64);
    font-size: 21px;
    font-weight: 800;
}

.desc-method6 {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.702);
    line-height: 1.55;
    position: absolute;
    text-align: left;
    left: 820px;
    top: 2320px;
}