.content-info {
    display: flex;
    align-items: center;
}

.img-jovem {
    position: absolute;
    left: 700px;
    top: 140px;
    width: 455px;
    height: 781px;
    z-index: 21;
}

.logo-red {
    position: absolute;
    right: -60px;
    top: -80px;
    z-index: 19;
}

#img-light {
    position: absolute;
    left: 800px;
    top: 36px;
    width: 482px;
    opacity: 0.839;
    z-index: 22;
}



























/* #home-logo {
    padding-bottom: 31px;
}

.home-title {
    font-size: 42px;
    font-weight: 800;
    color: white;
    padding-bottom: 177px;
    margin: 0 auto;
    position: absolute
}

span {
    color: #e74040;
}

.home-description {
    color: white ;
    opacity: 70%;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}


#button-home {
    border: none;
    background-color: #e74040;
    color: white;
    border-radius: 30px;
    text-align: center;
    width: 262px;
    height: 60px;
    font-size: 22px;
    margin-top: 30px;
    font-weight: 600;
}  */