
.title-whatIs {
    margin-top: 213px;
    font-size: 22px;
    color: white;
    font-weight: 600;
    background: transparent;
}

.sub-title-whatIs {
    font-size: 42px;
    color: white;
    font-weight: 800;
    margin-top: 70px;
    background: transparent;
}

#button-whatIs {
    border: none;
    background-color: #e74040;
    color: white;
    border-radius: 30px;
    text-align: center;
    width: 309px;
    height: 59px;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 98px;
    font-weight: 600;
}