.combos {
    font-size: 42px;
    color: white;
    font-weight: 800;
    padding-bottom: 128px;
}

.box-left {
    background-image: linear-gradient(#8e3535 50%, #0000 );
    border-radius: 47px;
    width: 555px;
    height: 834px;
}

.box-right {
    background-image: linear-gradient(#af2c2c 50%, #0000 );
    border-radius: 47px;
    width: 555px;
    height: 834px;
}

.title {
    font-size: 30px;
    color: white;
    font-weight: 700;
    background: transparent;
    margin-top: 92px;
}

.sub-title {
    font-size: 22px;
    background: transparent;
    color: white;
    font-weight: 500;
    margin-top: 69px;

}

.price {
    font-size: 88px;
    color: white;
    font-weight: 800;
    background: transparent;
    margin-top: -26px;
}

.price span {
    font-size: 44px;
    background: transparent;
    color: white;
}


hr {
    max-width: 400px;
    display: flex;
    
}

.description-prices {
    background: transparent;
    text-align: left;
    margin-left: 128px;
}


.description-prices p, img {
    background: transparent;
    font-size: 22px;
}

.correct {
    padding-right: 10px;
}


#button {
    margin-top: 100px;
}